.idea
.env
dockerdata
*.swp
*.pyc
.vscode
image-server/tmp/**
!image-server/tmp/.keep
image-server/images/**
!image-server/images/.keep
!image-server/images/no_picture.png
/assets/images/*
!/assets/images/.keep
